/* admin */
.kitpages-company-list-default .kit-grid table
{
    background-color:transparent;
    border:0px;
}
.kitpages-company-list-default thead .kit-grid-thead-filter {
    min-width:680px;
    height: 50px;
    padding-left:15px;
    border: solid 1px #e3e3e3 !important;
    text-align:left;
    background-color:#f5f5f5 !important;
}

tr.kitpages-company-list-default-space, .kitpages-company-list-default-space th{
    background-color: #FFFFFF!important;
    border: 0 none!important;
    height:50px;
}

.kitpages-company-list-default .kit-grid-thead-filter label{
    display:inline-block;
    line-height:30px;
    padding-left:30px;
    padding-right:10px;
    font-size:15px;
    font-weight:bold;
}
.kitpages-company-list-default-col-action {
    text-align:center;
}

.kitpages-company-list-default .kit-grid-thead-filter input[type=text] {
    width: 300px;
}
.kitpages-company-list-default .kit-grid-thead-filter button {
    margin-left:60px;
    margin-right:20px;
}
.kitpages-company-form-default
{
    background-color: #F2F2F2;
    border: 1px solid #E3E3E3;
    margin-bottom: 15px;
    padding: 15px;
    width: 600px;
}

.kitpages-company-form-default label {
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: top;
    width: 150px;
}

.kitpages-company-form-default input, .kitpages-company-form-default select , .kitpages-company-form-default textarea {
    width: 400px;
    height: 25px;
    border: 1px solid #E3E3E3;
    background-color: #FFF;
    color: #313131;
    margin-bottom: 10px;
}

.kitpages-company-form-default textarea {
    height: 70px;
}

